#header {
  width: 100%;
  overflow: hidden;
}

#nav-bar-container {
  width: 100%;
  background: var(--mainDarkRed);
  position: fixed;
  overflow: hidden;
  z-index: 4;
}

#hamburger input[type="checkbox"] {
  opacity: 0;
  width: 40px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

#hamburger-container {
  width: 100%;
}

#hamburger {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#span {
  width: 50%;
  display: inline-block;
  padding: 10px 0 3px 10px;
}
#span span {
  background: var(--dirtyWhite);
  display: block;
  margin-bottom: 8px;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 2px;
  z-index: 1;
  transform-origin: 4px 2px;
  transition: transform 0.5s;
}

#hamburger input[type="checkbox"]:checked ~ #span span {
  opacity: 1;
}

#hamburger input[type="checkbox"]:checked ~ #span span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(45deg);
}

#hamburger input[type="checkbox"]:checked ~ #span span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-5deg) scale(0);
}

#hamburger input[type="checkbox"]:checked ~ #span span:nth-last-child(1) {
  opacity: 1;
  transform: rotate(-45deg);
}

/* ---- TO SHOW NAV-LINKS ---- */

#hamburger input[type="checkbox"]:checked ~ #nav-links {
  display: block;
}

/* ------- LOGO IMAGE--------- */

#logo-container {
  display: inline-block;
  width: 50%;
  padding: 5px 1% 0px 9%;
}

#header-img {
  width: 135px;
  display: inline-block;
}

#nav-links {
  flex: none;
  width: 100%;
  margin: auto;
  font-size: 1.1em;
  display: none;
  background: #b7272e6b;
  padding: 5px;
}

#nav-links a {
  text-align: center;
  text-decoration: none;
  color: #eeeeee;
  font-family: var(--osw);
  font-weight: 200;
  display: block;
}

#nav-links a:hover {
  font-weight: 400;
}

/* ----HERO HEADER---- */

#background-container {
  width: 100%;
}
#background {
  background: var(--mainLRed);
  width: 100%;
  height: 100vh;
  position: relative;
}

#background::after {
  overflow: hidden;
  content: "";
  display: block;
  background-color: var(--dirtyWhite);
  clip-path: polygon(0 30%, 100% 1%, 100% 100%, 0 43%);
  width: 100%;
  height: 80vh;
  z-index: 1;
}

#saletag-container {
  width: 100%;
}

#saletag-img {
  margin: 70px 12px 0 15px;
  position: absolute;
  max-width: 320px;
  z-index: 3;
}

#header-text-container {
  width: 100%;
}

#header-text {
  margin-left: 15px;
  width: 230px;
  overflow: hidden;
  position: absolute;
  top: 412px;
}

#header-text h1 {
  font-family: var(--osw);
  font-weight: 400;
  font-size: 3.2em;
  color: var(--dirtyWhite);
}

#header-text span {
  font-family: var(--sixcaps);
  font-weight: lighter;
  font-size: 2.4em;
  color: #ffd600;
  line-height: 0.65em;
}

#header-text p {
  line-height: 1.2em;
  font-family: var(--osw);
  font-weight: light;
  font-size: 1.3em;
  color: var(--dirtyWhite);
  padding-left: 1.2em;
  position: relative;
  bottom: 11px;
}

/* -----BEST SELLING AREA -------- */

#bestselling-container {
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100%;
  overflow: hidden;
  background: var(--dirtyWhite);
  font-family: var(--osw);
}

#bestselling-label-container {
  width: 100%;
}

#bestselling-label {
  width: 100%;
  padding-bottom: 0.7em;
}

#bestselling-label h2 {
  color: var(--mainDarkRed);
  font-size: 1.9em;
  text-align: center;
  font-weight: 400;
}

#products-container {
  width: 100%;
}

#products {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

#product1,
#product2,
#product3,
#product4,
#product5,
#product6 {
  width: 50%;
  margin-bottom: 10px;
  text-align: center;
}

#products img {
  width: 155px;
}

.productdetail-container {
  display: flex;
  flex: wrap;
  width: 100%;
  padding: 0 1em 0 1em;
}

.productdetail-container p {
  font-size: 0.6em;
}
.productdetail-container p:first-child {
  text-align: left;
  width: 70%;
}
.productdetail-container p:last-child {
  text-align: right;
  width: 30%;
}

/* ---- PROMOTION CONTAINER AREA ------ */

#promotion-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  width: 100%;
  overflow: hidden;
  background: var(--mainLRed);
}

#video-container {
  padding: 1em 1em 1em 1em;
  width: 100%;
  text-align: center;
}
#video {
  width: 330px;
}

#promotion-text-container {
  width: 100%;
  overflow: hidden;
}

#promotion-text {
  margin: 0 5% 0 5%;
  text-align: center;
  overflow: hidden;
  height: 73vh;
}

#promotion-text h2 {
  font-family: var(--osw);
  font-weight: 400;
  font-size: 1.85em;
  color: var(--dirtyWhite);
  letter-spacing: -0.5px;
  line-height: 0.99em;
}

#promotion-text h3 {
  margin-top: 10px;
  margin-bottom: 58px;
  font-family: var(--osw);
  font-weight: 200;
  font-size: 1.3em;
  color: var(--dirtyWhite);
  letter-spacing: -0.7px;
  line-height: 1.2em;
}

#promotion-text img {
  width: 300px;
  bottom: 30px;
  position: relative;
}

/* ----LEGACY CONTAINER AREA ------ */
#legacy-container {
  width: 100%;
  background: var(--dirtyWhite);
}

#legacy-qualities {
  padding-top: 48px;
  padding-bottom: 48px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-family: var(--osw);
}
#legacy-qualities h3 {
  font-weight: 400;
  color: var(--mainDarkRed);
}

#legacy-qualities p {
  color: #000;
  font-weight: 300;
  letter-spacing: -0.05em;
  line-height: 1.1em;
}

#legacy1 img {
  width: 150px;
}
#legacy2 img {
  width: 200px;
}
#legacy3 img {
  width: 150px;
}

#legacy1,
#legacy2,
#legacy3 {
  width: 100%;
  margin-bottom: 45px;
  text-align: center;
}

#legacy3 {
  margin-bottom: 0;
}

/* -----DISCOUNT AND COUPON AREA---- */
#discount-container {
  overflow: hidden;
  width: 100%;
  background: var(--mainLRed);
}

.promocontainer {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

.promocontainer img {
  width: 100%;
}

#claiming-container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  text-align: center;
  font-family: var(--osw);
  margin: auto;
}

#claimdescription {
  width: 100%;
  padding-bottom: 25px;
}

#claimtitle {
  width: 80%;
  margin: auto;
}

#claimdescription h3 {
  color: var(--dirtyWhite);
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.08em;
  letter-spacing: -0.03em;
  margin-bottom: 10px;
}

#claimparagraph {
  width: 100%;
}

#claimdescription p {
  color: var(--dirtyWhite);
  font-weight: 200;
  font-size: 1.15em;
  line-height: 1.08em;
  letter-spacing: -0.03em;
}

#claiming-form {
  width: 100%;
}

#form label {
  display: block;
  text-align: left;
  color: var(--dirtyWhite);
  font-weight: 200;
  font-size: 1.2em;
  letter-spacing: -0.03em;
  margin-bottom: 5px;
}

input[type="email"] {
  display: block;
  width: 100%;
  padding: 0.7em 0.75em 0.7em 0.75em;
  border: none;
  background: #fff;
  margin-bottom: 15px;
}

input[type="email"]::placeholder {
  font-family: var(--osw);
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: -0.03em;
  color: #000;
}

input[type="submit"] {
  background: #ed512e;
  color: var(--dirtyWhite);
  font-family: var(--osw);
  font-weight: 300;
  font-size: 1.1em;
  border: none;
  padding: 0.2em 1.3em 0.2em 1.3em;
}

/* ----- FOOTER AREA -------- */
#footer-container {
  width: 100%;
  overflow: hidden;
  background: var(--mainDarkRed);
}

#footer h3 {
  font-weight: 300;
  padding-bottom: 7px;
}

#footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: var(--osw);
  color: var(--dirtyWhite);
}

#logo-footer-container {
  width: 100%;
  overflow: hidden;
}

#logo-footer-container img {
  margin: 2em 1.5em 0.9em 1.5em;
  width: 180px;
}

#payment-container {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

#payment-container img {
  width: 370px;
}

#costumer-service-container {
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
}

#costumer-service-container li {
  font-weight: 100;
  font-size: 0.9em;
  line-height: 2em;
}

#costumer-service-container a {
  color: var(--dirtyWhite);
  text-decoration: none;
}

#contact-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  padding: 20px 18% 20px 18%;
}

#contact-container h3 {
  width: 100%;
}

.image-contact {
  width: 20%;
  margin-top: 2px;
}

.parag-contact {
  width: 80%;
  text-align: left;
  font-weight: 100;
  font-size: 0.9em;
  line-height: 2em;

}

.image-contact img {
  width: 19px;

}

.mobile img {
  width: 23px;
}

.centerleft {
  width: 25%;
  padding-top: 2px;
  padding-left: 5%;
}

.centerright {
  width: 75%;
  text-align: left;
}

/* ------------DEVELOPER COPYRIGHT AREA ---------- */

#developer-container {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
}


#developer-container {
  font-size: .9em;
  font-weight: 300;
}

