/* ----COLOR PALETTE------
 #941117 - main dark red 
 #EEEEEE - dirty white*/

/* ----FONTS IMPORTATIONS ---- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainDarkRed: #941117;
    --dw: #EEEEEE ;
    --osw: 'Oswald', sans-serif;
}

